<div>
  <% if current_user.id == @user.id %>
    <h1><%= "Your posts" %></h1>
  <% else %>
    <h1><%= "#{@user.nickname} page" %></h1>
    <% if current_user_is_following(current_user.id, @user.id) %>
      <%= link_to 'Unfollow', unfollow_user_path(name: @user.name), method: :post %>
    <% else %>
      <%= link_to 'Follow', follow_user_path(name: @user.name), method: :post %>
    <% end %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <%= render partial: "posts/post", object: post %>
<% end %>
