<h1><%= "It is your page #{current_user.name}" %></h1>

<%= link_to "Edit profile", edit_user_registration_path(current_user) %><br>

<h3><%= "People are following you: " %></h3>
<% @user.followers.each do |f| %>
  <%= link_to f.nickname, user_posts_path(f.id) %><br>
<% end %>

<h3><%= "You are following this people: " %></h3>
<% @user.following.each do |f| %>
  <%= link_to f.nickname, user_posts_path(f.id) %><br>
<% end %>
