<div id="<%= dom_id post %>" class="post" style='padding-bottom:33px'>
  <h2>
    <%= post.title %>
  </h2>

  <p>
    <% if post.image %>
      <%= link_to image_tag(post.image_url, alt: "rss feed", height: 200, width: 200), post_path(post) %>
    <% end %>
  </p>

  <p>
    <%= link_to post.user.email, user_posts_path(post.user) %>
  </p>

  <p>
    <%= post.content %>
  </p>

  <%= render partial: "comments/comments_for_post", locals: { comments: post.comments } %>

  <%= render partial: "likes/like", locals: { post: post } %>
</div>