<div id="<%= dom_id post %>" class="card">
  <p>
    <%= link_to post.title, post_path(post) %>
  </p>

  <p>
    <%= image_tag(post.image_url, alt: "rss feed", height: 200, width: 200) if post.image %>
  </p>

  <p>
    <%= link_to post.user.email, user_posts_path(post.user) %>
  </p>

  <p>
    <%= post.content %>
  </p>

  <div class="card"
    <%= "Comments: " %><br>
    <% post.comments.each do |comment| %>
      <%= "#{comment.text} (commented by: #{comment.user.email})" if comment.user %><br>
      <% if policy(comment).delete? %>
        <strong><%= button_to "Delete comment", comment, method: :delete %></strong>
      <% end %>
    <% end %>
  </div>


  &#10084; <%= post.likes.count %>
  <% like = current_user.likes.find_by(post: post) if current_user %>
  <% if like.nil? %>
    <%= button_to "Like", likes_path, params: { like: { post_id: post.id }}, method: :post %>
  <% else %>
    <%= button_to "Unlike", like_path(like), method: :delete %>
  <% end %>

</div>
