<br>
<div id="<%= dom_id post %>" class="post">
  <p>
    <%= link_to post.title, post_path(post) %>
  </p>

  <p>
    <%= image_tag(post.image_url, alt: "rss feed", height: 200, width: 200) if post.image %>
  </p>

  <p>
    <%= link_to post.user.email, user_posts_path(post.user) %>
  </p>

  <p>
    <%= post.content %>
  </p>
</div>

<div class="comment">
  <%= "Comments: " %><br>
  <% post.comments.each do |comment| %>
    <%= "#{comment.text} (commented by: #{comment.user.email})" if comment.user %><br>
    <% if policy(comment).delete? %>
      <strong><%= button_to "Delete comment", comment, method: :delete %></strong>
    <% end %>
  <% end %>
</div>

<%= render partial: "likes/like", locals: { post: post } %>
